*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red !important; */
}


:root {

  --color-black: #0e0e0e;
  --color-white: #ffffff;
  --color-gray: #888;

  --background-color: var(--color-black);
  --primary-text: var(--color-white);
  --secodary-text: var(--color-gray);
  --border-color: #e5e7eb;

  /* colors botton */
  --button-bg: var(--color-white);
  --button-text: var(--color-black);
  --button-border: var(--color-black);
  --button-overlay: var(--color-white);

  /* colors terminal */
  --console-bg: #121212;
  --console-border: #444;
  --console-header-border: #2c2c2c;

  /* font */
  --font-family: 'Roboto', sans-serif;
  --font-mono: 'Roboto Mono', monospace;

  --mobile-nav-breakpoint: 768px;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text);
  font-family: var(--font-family);
  padding: 1.5rem;

}

li {
  list-style-type: '◇';
  padding-inline-start: 1ch;
}

/* Section intro */
.layout__intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 0 0 4rem 0;
  margin: 0 auto;

}

/* Sección de contenido (Skills, Education, Projects) */
.layout__content {
  margin: 12rem 2rem;
  padding: 2rem;
}



.layout__projects-title {
  padding-bottom: 1.5rem;
}

.layout__skills-title {
  padding-bottom: 1.5rem;
}

.layout__skills {
  margin: 4rem 0;
  padding: 4rem 0;
}

.layout__projects {
  margin: 4rem 0;
  padding: 4rem 0;
}


/* Footer */

/* Title of sections */
.layout__section-title {
  position: absolute;
  top: -1rem;
  background-color: var(--background-color);
  z-index: 3;
  padding: 0 1rem;
  font-size: 2rem;

}


.layout__contact {
  position: relative;
  padding: 6rem;
  margin: 12rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Eliminar el borde doble original */
  border: none;
  /* Agregar un borde normal para la línea exterior */
  border: 1px solid var(--primary-text);
}

.layout__contact::before {
  content: "";
  position: absolute;
  inset: 2px;
  border: 1px solid var(--primary-text);
  z-index: -1;
  /* Asegura que el contenido se muestre sobre este elemento */
}

.layout__section-text {
  padding-bottom: 1rem;
}


.contact__link {
  color: var(--primary-text);
  text-decoration: none;
}

.contact__link:hover {
  color: var(--secodary-text);
}

.layout__footer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

@media screen and (max-width: 768px) {
  .layout__intro {
    flex-direction: column;
    gap: 5rem;
  }

  .layout__content {
    margin: 2rem 0;
  }

  .layout__skills,
  .layout__projects {
    margin-bottom: 2rem;
  }

  .layout__footer {
    margin-top: 2rem;
  }
}