---
import Terminal from '../components/Terminal.astro';
import Presentation from "../components/Presentation.astro"
import Layout from '../layouts/Layout.astro';
import GridSkills from '../components/GridSkills.astro';
import GridProject from '../components/GridProject.astro';

---

<Layout>
	<section class="intro">

        <Presentation />

        <Terminal />

    </section>

    <section class="skillsandprojects">
        <section class="skills">
            <h2>Skills</h2>
    
            <GridSkills />
    
        </section>
    
        <section class="education">
    
        </section>
    
        <!-- <section class="projects">
            <GridProject />
    
        </section>-->
    </section>

    

    <footer>
        <p>Made with Astro</p>
        <p>&copy; Ivan Ramírez</p>
    </footer>
</Layout>
