---
import Terminal from "../components/Terminal.astro";
import Presentation from "../components/Presentation.astro";
import Layout from "../layouts/Layout.astro";
import GridSkills from "../components/GridSkills.astro";
import GridProject from "../components/GridProject.astro";
---

<Layout>
    <section class="layout__intro">
        <Presentation />

        <Terminal />
    </section>

    <section class="layout__content">
        <section class="layout__skills">
            <h2 class="layout__section-title">Skills</h2>

            <GridSkills />
        </section>

        <section class="layout__education"></section>

        <!-- <section class="layout__projects">
            <GridProject />
        </section>-->
    </section>

    <footer class="layout__footer">
        <p>Made with Astro</p>
        <p>&copy; Ivan Ramírez</p>
    </footer>
</Layout>
