---
import { getTranslator } from "src/i18n/utils";

const translateLabels = getTranslator(Astro.currentLocale);
---
<footer class="layout__footer">
    <p>{translateLabels('footer.madeWith')} Astro</p>
    <p>&copy; Ivan Ramírez</p>
</footer>