---
import { useTranslations } from "src/i18n/utils";
import { languages } from "src/i18n/ui";
const currentLanguage = Astro.currentLocale || "es";

const translateLabels = useTranslations(currentLanguage as keyof typeof languages);
---
<footer class="layout__footer">
    <p>{translateLabels('footer.madeWith')} Astro</p>
    <p>&copy; Ivan Ramírez</p>
</footer>