---
import type { Skill } from "../types"
const {skillName, skillItems} = Astro.props
---
<div class="skills__item">

    <h3>{skillName}</h3>

    <ul>
    {skillItems.map((skill: Skill) => (
        <li>{skill}</li>
    ))
        }
    </ul>
</div>

<style>

    .skills__item {
        padding: 2.5rem;
        border: 1px solid var(--border-color);
    }

    .skills__item  h3 {
        color: var(--primary-text);
        padding-bottom: 1rem;
        font-size: clamp(1rem, 1.8vw, 1.8rem);
        
    }

    .skills__item  ul {
        color: var(--secodary-text);
        font-size: clamp(.8rem, 1.2vw, 1.2rem);
        font-family: var(--font-mono);

    }

</style>