---
import GridSkillElement from "./GridSkillElement.astro";

import { getTranslator } from "src/i18n/utils";

const translateLabels = getTranslator(Astro.currentLocale);

const skillsData = translateLabels("skills.list");
---

<div class="skills__grid">
    {
        skillsData.map((skill) => (
            <GridSkillElement
                skillName={skill.skillName}
                skillItems={skill.skillItems}
            />
        ))
    }
</div>

<style>
    .skills__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
</style>
