---
import GridSkillElement from "./GridSkillElement.astro";

import { getTranslator } from "src/i18n/utils";

const translateLabels = getTranslator(Astro.currentLocale);

const skillsData = translateLabels("skills.list")
---

<div class="skills__grid">
 {
    skillsData.map(skill => (
            <GridSkillElement 
                skillName={skill.skillName} 
                skillItems={skill.skillItems} 
            />
        ))
 }
</div>

<style>
    .skills__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 1px solid #e5e7eb;
        margin-bottom: 3rem;
    }

    @media screen and (max-width: 768px) {
        .skills__grid{
            grid-template-columns: 1fr;
        }
        
    }
</style>