---
interface SkillProps {
    skillName: string;
    skillItems: string[];
}
const {skillName, skillItems} = Astro.props
---
<div class="skills__item">

    <h3>{skillName}</h3>

    <ul>
    {skillItems.map((skill: SkillProps) => (
        <li>{skill}</li>
    ))
        }
    </ul>
</div>

<style>

    .skills__item {
        padding: 1.5rem;
        border: 1px solid #e5e7eb;
    }

    .skills__item  h3 {
        color: var(--primary-text);
        padding-bottom: 1rem;
    }

    .skills__item  ul {
        color: var(--secodary-text);
    }

</style>