---
import GridProjectElement from "./GridProjectElement.astro";

const projectData = [
    {
        projectName: "FitApp",
        description: "A fitness app that helps you track your progress and set goals."
    },
    {
        projectName: "Project 2",
        description: "This is a description of the project"
    },
    {
        projectName: "Project 3",
        description: "This is a description of the project"
    },
    {
        projectName: "Project 4",
        description: "This is a description of the project"
    }
]
---
<div class="container-projects">

    {projectData.map((project) => (
        <GridProjectElement projectName={project.projectName} description={project.description} />
    ))}


</div>

<style>
    .container-projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
</style>