---
import Button from "./Button.astro"
import { useTranslations } from "src/i18n/utils";
import { languages } from "src/i18n/ui";
const currentLanguage  = Astro.currentLocale || "es";

const translateLabels = useTranslations(currentLanguage as keyof typeof languages);
---
<div class="personal-info">
    <h1>Ivan Yesse Ramírez Uriarte</h1>

        <h2>{translateLabels('presentation.role')}</h2>

        <p>{translateLabels('presentation.description')}</p>

        <div class="buttons-wrapper">
            <Button />
        </div>
</div>

<style>
    .personal-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .personal-info h1 {
        color: var(--primary-text);
        font-size: 4.1rem;
        padding: .5rem 0;
    }

    .personal-info h2 {
        color: var(--primary-text);
        font-size: 2rem;
        padding: .5rem 0;
    }

    .personal-info p {
        color: var(--secodary-text);
        padding: .5rem 0;
        font-size: 1.2rem;

    }

    .buttons-wrapper {
    padding-top: .5rem;
    display: flex;
    align-items: center;
  }
</style>